@tailwind base;
@tailwind components;
@tailwind utilities;

.tile-position-0-0 {
  transform: translate(0px,0px);
}
.tile-position-0-1 {
  transform: translate(121px,0px);
}
.tile-position-0-2 {
  transform: translate(242px,0px);
}
.tile-position-0-3 {
  transform: translate(363px,0px);
}

.tile-position-1-0 {
  transform: translate(0px,0px);
}
.tile-position-1-1 {
  transform: translate(121px,121px);
}
.tile-position-1-2 {
  transform: translate(242px,121px);
}
.tile-position-1-3 {
  transform: translate(363px,121px);
}

.tile-position-0-0 {
  transform: translate(0px,242px);
}
.tile-position-0-1 {
  transform: translate(121px,242px);
}
.tile-position-0-2 {
  transform: translate(242px,242px);
}
.tile-position-0-3 {
  transform: translate(363px,242px);
}

.tile-position-0-0 {
  transform: translate(0px,363px);
}
.tile-position-0-1 {
  transform: translate(121px,363px);
}
.tile-position-0-2 {
  transform: translate(242px,363px);
}
.tile-position-0-3 {
  transform: translate(363px,363px);
}